<div class="wide-dialog">
    <div class="wide-dialog-body">
        <force-preview-panel [force]="force" [displayMode]="displayMode" [scrollUnitsOnly]="true"></force-preview-panel>
    </div>
    <div class="wide-dialog-actions">
        @if (canLoadForce()) {
            <button class="bt-button primary" (click)="onLoad()">LOAD</button>
        }
        @if (!isForceLoaded()) {
            <button class="bt-button" (click)="onAdd()">ADD</button>
        }
        <button class="bt-button" (click)="close()">DISMISS</button>
    </div>
</div>
