:host {
    display: inline-block;
}

.component {
    position: relative;
    cursor: pointer;
}

.component:not(.text-data):not(.additional-data)::after {
    content: '';
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -5px;
    pointer-events: none;
    background: rgba(255, 255, 255, 0.1);
    opacity: 0;
    transition: opacity 0.15s;
}

.component:not(.text-data):not(.additional-data):hover::after {
    opacity: 1;
}

.normal-data,
.small-data,
.tiny-data,
.additional-data {
    display: flex;
    box-sizing: border-box;
    gap: 2px 4px;
    width: 100%;
    padding: 8px;
    font-size: 1em;
    flex-grow: 1;
}

.text-data {
    cursor: pointer;
}

.text-data:hover {
    text-decoration: dotted underline;
}


.small-data,
.tiny-data {
    padding: 4px;
    font-size: .85em;
}

.additional-data,
.component.ammo {
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 0.85em;
}

.additional-data {
    cursor: default;
    border-left: 5px solid #888;
    border-top: 1px solid #555;
    border-right: 1px solid #555;
    border-bottom: 1px solid #555;
    background: #2c2c2c;
    color: #aaa;
}

floating-comp-info {
    position: fixed;
    z-index: 9999;
}

.small-data .comp-title,
.normal-data .comp-title {
    display: contents;
    font-weight: bold;
    width: 100%;
}

.tiny-data .comp-title {
    display: contents;
    width: 100%;
}

.additional-data .comp-title {
    display: contents;
    width: 100%;
    font-weight: 500;
}

.comp-qty {
    color: #ccc;
    text-align: right;
}

.comp-name {
    display: block;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
}

.structural .comp-name {
    color: var(--text-color-secondary);
}

.additional-data .comp-qty,
.additional-data .comp-name {
    color: #fff;
}

.additional-data .tech-base {
    display: none;
}

.tech-base {
    width: 20px;
    height: 20px;
    margin: -2px -2px -4px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 4px;
    padding: 2px;
}

.tech-base.tech-is {
    background-color: rgb(0, 63, 208);
}

.tech-base.tech-clan {
    background-color: rgb(155, 0, 0);
}

.damage-stripe {
    background-image: repeating-linear-gradient(
        140deg,
        #F00 0px,
        #F00 4px,
        transparent 5px,
        transparent 10px
    );
}

.damage-stripe.upper {
    position: absolute;
    top: 1px;
    left: 0px;
    width: 100%;
    height: 4px;
}

.damage-stripe.lower {
    position: absolute;
    bottom: 1px;
    left: 0px;
    width: 100%;
    height: 4px;
}